.Navbar nav ul {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

.Navbar img {
    display: inline;
    
}

.Navbar nav ul li {
    justify-content: space-between;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-left: 170px;
    margin-right: 170px;
}

.Navbar nav ul li a {
    color: white;
    text-decoration: none;
}

.Navbar nav ul li a:hover {
    color: goldenrod;
}

.Navbotao{
    width: 100px;
    height: 25px;
    background-color: whitesmoke;
    cursor: pointer;
}
.Navbotao:hover{
    width: 100px;
    height: 25px;
    background-color: goldenrod;
    cursor: pointer;
}