@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }